/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.customInput {
  border: 1px solid #ffffff27;
  color: white;
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 1.045);
}

.customInput:focus {
  border-color: white;
  border-width: 4px;
}

.customInput:first-child {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.customInput:nth-child(3) {
  margin-right: 20px;
}
.customInput:nth-child(6) {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
