.customInput {
  border: 1px solid #000;
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 1.045);
}

.customInput:focus {
  border-color: #000;
  border-width: 4px;
}

.customInput:nth-child(3) {
  margin-right: 20px;
}
